header {
	width:100%;
	height: 120px;
}
header nav {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
}

header nav ul li {
	list-style: none;
	margin-left: 35px;
	padding:6px;
}

header nav ul li.register {
	border:2px solid #49ab7f;
}
header nav ul li.register a {
	color:#49ab7f;
}

header nav ul li.login {
	border:2px solid #bc4710;
}
header nav ul li.login a {
	color:#bc4710;
}

header nav ul li a {
	text-decoration: none;
	color:#0c98e9;
	font-weight: 400;
	transition: 0.5s ease;
}

header nav ul li a:hover {
	color:#941c2f;
}

.hamburger {
	background-color:transparent;
	border:0;
	color:#000;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.hamburger:focus {
	outline: none;
}


@media screen and (max-width: 798px) {
	header nav {
		justify-content: space-between;
		background:#FFF;
		padding-right: 20px;
		padding-left:20px; 
	}
	header nav ul {
		position: fixed;
		top:0;
		left: 0;
		background:#222;
		width: 100%;
		height: 100vh;
		display: block;
		padding:40px 0;
		text-align: center;
		opacity: 0;
		transition: 0.5s ease;
	}
	header nav ul.show {
		opacity: 1;
		z-index:4;
	}
	header nav ul li {
		margin-top: 50px;
	}
	header nav ul li a {
		color:#FFF;
		margin-bottom: 6px;	
		transition:0.5s ease;
		font-size: 19px;
	}
	header nav ul li a:hover {
		color:tomato;
		cursor: pointer;
	}
	.hamburger {
		display: block;
		z-index:4;
	}
	.hamburger.white {
		display: block;
		position: fixed;
		top:44px;
		right: 22px;
		color:#FFF;
	}
}